<div id="centerScreen">
<h2>Profile Page for <%= @user.name %></h2>
<p>Lockout is a platform used to find the next best event in your area.</p>
<br>
<br>
<p>Add venues using the View Venue tab on the left and select Add new Venue on the new page that opens</p>
<br>
<br>
<p>View venues using the Venues Near Me based on your devices coordinates, use the slider to change radius of selection</p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
</div>
