<header><h1 class="display-4">Places</h1></header>

<%= link_to 'Add venue', new_venue_path, class: 'btn btn-primary btn-lg' %>

<div class="card">
  <div class="card-block">
    <ul>
      <%= render @venue %>
    </ul>
  </div>
</div>
