<div id="centerScreen"><h1>Find Venues near me</h1></div>

  <style>
    #map {
      height: 60vh;
      width: auto;
      margin-bottom: 6vh;
    }

    html, body {
      height: 100vh;
      margin: 0;
      padding: 25px;
      margin: 0 0 20px;
    }
  </style>
<div onmouseup="getVenues()">
  <div id="centerScreen">
    <div class="slidecontainer">
      <input type="range" min="1" max="25" value="5" class="slider" id="myRange">
      <p>Find Venues Within <span id="demo"></span>km</p>
    </div>
  </div>
</div>


<div id="map"></div>


<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
      console.log(output.innerHTML);
  }

    console.log('I AM RUNNING FROM MAP ERB');
    let venues = [];
    let userLat = 0;
    let userLon = 0;

  function getVenues() {
    navigator.geolocation.getCurrentPosition(function (position) {
      console.log(position.coords.latitude)
      console.log(position.coords.longitude)
      userLat = position.coords.latitude;
      userLon = position.coords.longitude;
      radius = (output.innerHTML);

      fetch(`/venue/near_me?lat=${userLat}&lon=${userLon}&radius=${radius}`)
      .then( res => res.json() )
      .then( data => {
        console.log('response', data);

        venues = data;

        initMap();

      },
      function (error) {
        console.log("The Locator was denied. :(");
      })
    })
  };


  function initMap() {

    console.log("I AM INSIDE INITMAP");

    var bounds = new google.maps.LatLngBounds();
    var map = new google.maps.Map(document.getElementById('map'));

    for (let i = 0; i < venues.length; i++) {
      const venueFind = venues[i];

      var marker = new google.maps.Marker({
        position: {lat: venueFind.latitude, lng: venueFind.longitude},
        map: map,
        title: venueFind.name
      });

      bounds.extend(marker.position);
    }
    map.fitBounds(bounds);
  }

// refreshMap();
</script>


<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzyr7eFoXaYNJdUvzpTml3TfpgNlMxKVQ&callback=getVenues" async defer>
</script>
